.center {text-align: center; color:rgb(46, 226, 43); text-shadow: 0px 5px 7px greenyellow; }
table.center2 {margin-left: auto; margin: auto; border-collapse: collapse; /*table-layout: fixed; width: 800px;*/}
td {text-align: center; width: 160px; height: 160px;}
.center3 {text-align: center;}
.c {background-color:pink;}
.c0 {background-color:antiquewhite}
.c1 {background-color: orange;}
.c2 {background-color: yellow;}
.c3 {background-color:aquamarine;}
.c4 {background-color: aqua;}
.c5 {background-color:violet;}
th {height: 20px;}
tr.size th {width: 80px;}
.text:hover {color:white; background-color:black; font-weight: bold; cursor: pointer;}
.favorite {color:white; font-style:italic; font-weight: bold; text-decoration: underline; text-shadow: 2px 3px 3px gold; }