/*a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}*/

/*ul {text-align: center; background-color: silver; 
    color: bisque; padding: 30px;
    border: 2 dashed silver; border-top-left-radius: 22px;
    border-bottom-right-radius: 22px; 
    width: auto; transition: transform 5s;}
ul:hover {transform: rotate(180deg);}
.diamond {list-style-type: "◆"; list-style-position: inside;}
ul:not(:hover) {transition: none;}*/

/*h2 {color: blue;}
.imgfile { float:left; width: 240px; 
          padding-left: 10px; padding-right: 10px;}
.content {overflow: auto;}
#f {height: 240px;}
#s {height: 200px;}
#t {height: 171px;}
높이를 벗어나면??
a:link {color: black; text-decoration: none;} 
a:visited {color: black; text-decoration: none;} 
.main {color:#FF8863; font-weight: bold;}
.content p {font-size: 10px; color: darkgray;}
h4.main,p,a{margin: 0; padding: 0;}*/

/*body {text-align: center;}
p { font-size: 15px; font-family: "Malgun Gothic", "맑은 고딕", sans-serif;}
.pink {color: black; font-weight: bold; background-color: pink;}
.orange {color: black; font-weight: bold; background-color: orange;}
.stpink {color: white; background-color: rgb(255, 43, 114);}
.st {font-weight: bold; text-decoration: underline;}
#img_top {position: fixed; bottom: 50px; right: 20px;}*/

