.booklist .head { font-size: 16px; font-weight: bolder; }
.booklist ul li { font-size: 12px; list-style-type: none; }
.booklist ul li img { border: solid; border-color: lightgray; border-width: 1px; }

.booklist { height: 462px; }
.booklist ul li { width: 150px; height: 180px; }
.booklist ul li img { height: 120px; }

.booklist { margin: 10px; padding: 5px; }
.booklist .head { margin: 15px 0 0 10px; } 
.booklist ul li { float: left; margin: 5px 5px 10px 5px; list-style-type: none; }

.musiclist ul li { width: 530px; }
.musiclist ul li { font-size: 12px; font-weight: bold;
    text-shadow: 0.2em 0.2em 0.2em white;}

.korean ul ,.foreign ul{list-style: none;padding: 0;margin: 0;display: flex;
                    flex-wrap: wrap; gap: 10px; align-items: flex-start;}
.korean ul li, .foreign ul li{width: calc(30% - 10px); box-sizing: border-box; padding: 8px;}  
.korean p, .foreign p {  font-size:small; margin-bottom: 5px;}
.korean hr, .foreign hr {margin-bottom: 10px; border: none; border-top: 1px solid #ccc;}       